html
{
    font-size: 14px;
    font-family: serif;
    background-color: pink;
    font-weight: bold;
}
body
{
    width:600px;
    margin:0 auto;
    background-color: salmon;
    padding:5px solid black;
}

h1
{
    padding-top: 5%;
    text-align: center;
    color: midnightblue;
    text-shadow: 1px 1px 1px black;
}

img
{
    display:block;
    margin:auto;
}

p,li
{
    margin-left: 25px;
    margin-right: 25px;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}